* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    text-decoration: none;
    order: 1px solid red;
}

html {
    font-size: 62.5%;
    /*cursor: url(../pen-tool.svg), default;
    /*maybe the pointer too idk*/
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    font-family: 'Work Sans';
}

/* --MOBILE-- */
@media screen and (max-width: 767px) {
    #test123 {
        font-size: 1.2rem;
        align-self: center;
        position: absolute;
        z-index: 2;
        bottom: 3rem;

        animation: vert_Bounce 10s ease 0s infinite normal forwards;
    }
    .aHome {
        right: 1.5rem;
        top: 1.6rem;
        background-color: rgba(255, 255, 255, 0.150);
        border-radius: 0.5rem;
        overflow: hidden;
    }
    .homeBtn {
        margin: 0.4rem;
        width: 2.2rem;
    }
    /* index */
    .menu { /*--issue--*/
        /*background-image: url(../assets/images/MainFoto*mobile version*.png);*/
        background-size: 50rem auto;
        background-position: -16.5rem top;
    }
    nav {
        right: 3%;
    }
    h1 {
        font-size: 13vmax;
        font-weight: 650;
    }
    /* about */
    .aboutContainer div h2 {
        font-size: 2rem;
    }
    #abt {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #abtxt {
        font-size: 1.35rem;
        width: 90%;
        height: auto;
    }
    #abtxt span:first-child {
        margin-bottom: 2rem;
        font-size: 2rem;
        font-weight: 500;
    }
    #abtxt span {
        font-size: 1.5rem;
    }
    #eg img {
        width: 9%;
        height: auto;
    }
    #abtpic {
        height: auto;
        width: 80%;
    }
    /* work */
    #back {
        top: 2.2rem;
        left: 1.5rem;
    }
    .workContainer {
        flex-direction: column;
        height: 100vh;
    }
    .tracking-in-expand {/*como clase*/
        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
    #left_sect, #right_sect {
        justify-content: center;
        /*justify-content: unset; in JS*/
        height: 50%;
    }
    #sidebarL, #sidebarR {
    }
    .container {
        align-self: center;
        margin-bottom: 2rem;
        grid-gap: 2rem 0rem;
        grid-template-columns: 1fr;
    }
    .projects {
        height: 10rem;
        border-radius: 1.5rem 0.7rem;/*TO IMPROVE*/
        display: inline-flex;
    }
    /* contact */
    #cntc {
        width: 85%;
        font-size: 2rem;
        top: 17rem;
    }
    .media img {
        width: 5rem;
    }
    .media {
        bottom: 4rem;
        width: 50%;
    }
}
/* --PC-- */
@media screen and (min-width: 768px) {
    #test123 {
        display: none;
    }
    .aHome {
        right: 2rem;/**/
        top: 2rem;/**/
        background-color: rgba(255, 255, 255, 0.150);
        border-radius: 0.5rem;
        overflow: hidden;
    }
    .homeBtn {
        margin: 0.3rem;
        width: 2.6rem;
    }
    /* index */
    .menu { /*--issue--*/
        background-size: /*X*/60%/*X*/ auto;
        background-position:  /*X*/10%/*X*/ 8rem;
    }

    nav {
        right: 10%;
    }
    h1 {
        font-size: 11rem;
        font-weight: 700;
    }
    /* about */
    .aboutContainer div h2 {
        font-size: 5rem;/**/
        width: 90%;/**/
    }
    #abt {
        display: inline-flex;
        justify-content: space-evenly;
    }
    #abtxt {
        align-self: center;
        font-size: 1.5rem;
        width: 46%;
        height: 100%;
    }
    #abtxt span:first-child {
        margin-bottom: 1.3rem;
        font-size: 3.2rem;
        font-weight: 500;
    }
    #abtxt span {
        font-size: 1.8rem;
    }
    #eg img {
        width: 8%;
    }
    #abtpic {
        align-self: flex-end;
        height: 50vw;
        width: auto;
    }
    /* work */
    #back {
        top: 2rem;
        left: 2rem;
    }
    .workContainer {
        flex-direction: row;
    }
    #sidebarL, #sidebarR {
        height: 100vh;
    }
    .hvr-back-pulse {
        transition-duration: 0.5s;
        transition-property: color, background-color;
        cursor: pointer;
    }
    .hvr-back-pulse:hover, .hvr-back-pulse:focus, .hvr-back-pulse:active {
        animation-name: hvr-back-pulse;
        animation-duration: 1.7s;
        animation-delay: 0.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        background-color: #616161;
    }
    .container {
        align-self: center;
        margin-bottom: 4rem;
        grid-gap: 4rem 6rem;
        grid-template-columns: repeat(2, 1fr);
    }
    .projects {
        height: 15rem;
        border-radius: 2rem 1rem;/*TO IMPROVE*/
        
        transition: all 0.2s;
    }
    .projects:hover {
        box-shadow: 0px 6px 12px 3px rgba(255, 255, 255, 0.692);
        transform: scale(1.05);
    }
    /* contact */
    #cntc {
        width: 85%;
        font-size: 3rem;
        top: 22rem;
    }
    .media a {
        width: 22%;
    }
    .media {
        bottom: 6rem;
        width: 30%; /*auto*/
    }
}

/* --GENERAL-- */
.aHome {
    position: fixed;
    z-index: 2;
}

.homeBtn {
    height: auto;
    vertical-align: bottom;
}

.aHome:hover {
    cursor: pointer;
}

.aboutContainer, .contactContainer, .workContainer {
    width: 100%;
    display: flex;
}
.aboutContainer, .contactContainer {
    align-items: center;
    flex-direction: column;
}
/* index */
.menu {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../assets/images/MainFoto.png);
    background-repeat: no-repeat;
}

nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a {
    cursor: pointer;
    color: white;
}

nav a:hover {
    /*color: ;*/
    /* media */
    margin-right: 3rem;
    transition: all 0.2s ease-in;
}
/* about */
#abtintro {
    height: 100vh;
    width: 100%;
}

.aboutContainer div h2 {
    position: absolute;
    left: 5rem;
    bottom: 6rem;
    font-weight: 600;
}

#abt { /*media*/
    width: 100%;
}

#abtxt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
}

#eg {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
}

#abtpic {
    transform: scaleX(-1);
}
/* work */
#back {
    visibility: hidden;
    position: fixed;
    z-index: 4;
    font-size: 1.5rem;
    font-weight: 600;
}

#back:hover {
    cursor: pointer;
}

.workContainer section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#sidebarL, #sidebarR {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rightT, #leftT {
    font-size: 2rem;
    font-weight: 600;
}

.container {
    display: none; /* grid in JS */
}

.container a {
    display: flex;
    justify-content: center;
    /*height: ;*/
}

.projects {
    width: 100%;
    overflow: hidden;
    background-color: whitesmoke; /* not sure at all */
    border: none;
    color: black;
}

.projects p {
    text-align: justify;
    font-size: 1.3rem;
    font-weight: 600;
    /*margin: 0 1.2rem;*/
}
/* contact */
.contactContainer {
    height:100vh;
} 

#cntc {
    position: absolute;
    text-align: justify;
}

.media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
}

.media a {
    display: flex;
    justify-content: center;
}

/* --Custom Scrollbar-- */
*::-webkit-scrollbar {
    width: 1em;
}   
*::-webkit-scrollbar-track {
    background-color: black;
}
*::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

/* --ANIMATIONS--*/
/* mobile bounce */
@keyframes vert_Bounce {
    0%,
    100% {
      transform: translateY(0);
    }
  
    10%,
    30%,
    50%,
    70% {
      transform: translateY(-6px);
    }
  
    20%,
    40%,
    60% {
      transform: translateY(6px);
    }
  
    80% {
      transform: translateY(4.4px);
    }
  
    90% {
      transform: translateY(-4.4px);
    }
}
/* pc int */
@keyframes hvr-back-pulse {
    50% {
        background-color: #000000;
    }
}
/* mobile int */
@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5rem;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}
